@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="modal fade" id="primary" tabindex="-1"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
           
                <h1>Confirm</h1>
            </div>
            <div class="modal-body">
                Are you 18+ ?
            </div>
            <div class="modal-footer">
                <button type="button" onclick="No()" class="btn btn-danger pull-right">No</button>
                <button type="button" class="btn btn-primary pull-right" style="margin-right:5px" data-dismiss="modal">Yes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<script>
    function No() {
       
    }
</script>