
@{
    ViewData["Title"] = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--====== LOCATON ==========-->

<section>

    <div class="rows contact-map map-container">
        <iframe width="600" height="800" id="gmap_canvas" src="https://maps.google.com/maps?q=Sarasota%20airport&t=&z=3&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>
</section>
<!--====== QUICK ENQUIRY FORM ==========-->
<section>
    <div class="form form-spac rows con-page">
        <div class="container">
            <!-- TITLE & DESCRIPTION -->
            <div class="spe-title col-md-12">
                <h2><span>Contact us</span></h2>
                <div class="title-line">
                    <div class="tl-1"></div>
                    <div class="tl-2"></div>
                    <div class="tl-3"></div>
                </div>
                <p>World's leading pilot time building and networking website. Share costs, experiences, and learn with others.</p>
            </div>

            <div class="pg-contact">
                <div class="col-md-5 col-sm-6 col-xs-12 new-con new-con1">
                    <h2>Presented by <span>Zealous Aviation</span></h2>
                    <p>Build time. Your Way</p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 new-con new-con1">
                    <img src="img/contact/1.png" alt="">
                    <h4>Address</h4>
                    <p>
                        6000 Airport circle, Sarasota fl 34209
                    </p>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12 new-con new-con3">
                    <img src="img/contact/2.png" alt="">
                    <h4>Contact Info:</h4>
                    <p>
                        <a href="tel://0099999999" class="contact-icon">Phone: 941-281-5941</a>
                        <br> <a href="mailto:pilotconnects@gmail.com" class="contact-icon">Email: pilotconnects@gmail.com</a>
                    </p>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12 new-con new-con4 pull-right">
                    <img src="img/contact/3.png" alt="">
                    <h4 >Social Media</h4>
                    <p>
                         <a href="https://www.facebook.com/pilotconnects/?ref=bookmarks"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <br> <a href="https://www.instagram.com/pilotconnects/?igshid=1d06m6cnmu3du"> <i class="fa fa-instagram" aria-hidden="true"></i></a>

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

