
@{
    ViewData["Title"] = "Pricing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .body{
        background:white;
    }
    .bg-gradient {
        background: white;
     
    }

 

    .pricing-divider {
        border-radius: 20px;
        background: #C64545;
        padding: 1em 0 4em;
        position: relative;
    }

    .bluecc .pricing-divider {
        background: #2D5772;
    }

    .greencc .pricing-divider {
        background: #1AA85C;
    }

    .red b {
        color: #C64545
    }

    .bluecc b {
        color: #2D5772
    }

    .greencc b {
        color: #1AA85C
    }

    .pricing-divider-img {
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 80px;
    }

    .deco-layer {
        -webkit-transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
    }

    .btn-custom {
        background: #C64545;
        color: #fff;
        border-radius: 20px
    }

    .img-float {
        width: 50px;
        position: absolute;
        top: -3.5rem;
        right: 1rem
    }

    .princing-item {
        transition: all 150ms ease-out;
    }

        .princing-item:hover {
            transform: scale(1.05);
        }

            .princing-item:hover .deco-layer--1 {
                -webkit-transform: translate3d(15px, 0, 0);
                transform: translate3d(15px, 0, 0);
            }

            .princing-item:hover .deco-layer--2 {
                -webkit-transform: translate3d(-15px, 0, 0);
                transform: translate3d(-15px, 0, 0);
            }



</style>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container-fluid bg-gradient p-5">
    <div class="row m-auto text-center w-75">


        <div class="spe-title col-md-12">
            <h2><span>Pricing</span></h2>
            <div class="title-line">
                <div class="tl-1"></div>
                <div class="tl-2"></div>
                <div class="tl-3"></div>
            </div>
            <p>Sign up now, and join the world's greatest time building website.</p>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4 col-sm-12 col-xs-12 princing-item">
            <div class="pricing-divider ">
                <h3 class="text-light">START-UP</h3>
                <h4 class="my-0 display-2 text-light font-weight-normal mb-3"><span class="h3"></span><del>$100</del> <span class="h5">/yr</span></h4>
                <h4 class="my-0 display-2 text-light font-weight-normal mb-3"><span class="h3"></span> $50 <span class="h5">/yr</span></h4>
                <svg class='pricing-divider-img' enable-background='new 0 0 300 100' height='100px' id='Layer_1' preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width='300px' x='0px' xml:space='preserve' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
                <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
	c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z' fill='#FFFFFF' opacity='0.6'></path>
                <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
	c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z' fill='#FFFFFF' opacity='0.6'></path>
                <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
	H42.401L43.415,98.342z' fill='#FFFFFF' opacity='0.7'></path>
                <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
	c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z' fill='#FFFFFF'></path>
        </svg>
            </div>
            <div class="card-body bg-white mt-0 shadow">
                <ul class="list-unstyled mb-5 position-relative">
                    <li style="margin-top:10px"><b>1</b> Account</li>
                    <li style="margin-top:10px"><b>Unlimited </b> Flights</li>
                    <li style="margin-top:10px"><b>Unlimited </b>Bookings</li>
                    <li style="margin-top:10px" ><b>Free Analytics</b></li>
                    <li style="margin-top:10px"><b>Help Center Access</b></li>
                </ul>
                <a href=" @Url.Action("Create","Users")" type="button" class="btn btn-lg btn-block  btn-custom ">Sign Up</a>
            </div>
        </div>
        <div class="col-md-4"></div>


        @*<div class="col-4 princing-item bluecc">
                <div class="pricing-divider ">
                    <h3 class="text-light">Saver</h3>
                    <h4 class="my-0 display-2 text-light font-weight-normal mb-3"><span class="h3">$</span> 95 <span class="h5">/2 yr</span></h4>
                    <svg class='pricing-divider-img' enable-background='new 0 0 300 100' height='100px' id='Layer_1' preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width='300px' x='0px' xml:space='preserve' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
                    <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
        c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z' fill='#FFFFFF' opacity='0.6'></path>
                    <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
        c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z' fill='#FFFFFF' opacity='0.6'></path>
                    <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
        H42.401L43.415,98.342z' fill='#FFFFFF' opacity='0.7'></path>
                    <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
        c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z' fill='#FFFFFF'></path>
            </svg>
                </div>
                <div class="card-body bg-white mt-0 shadow">
                    <ul class="list-unstyled mb-5 position-relative">
                        <li><b>1</b> Account</li>
                        <li><b>Unlimited </b> Flights</li>
                        <li><b>Unlimited </b>Bookings</li>
                        <li><b>Free Analytics</b></li>
                        <li><b>Help center access</b></li>
                    </ul>
                    <a href=" @Url.Action("Create","Users")" type="button" style="background:#2D5772" class="btn btn-lg btn-block bluecc ">Sign up</a>
                </div>
            </div>






            <div class="col-4 princing-item greencc">
                <div class="pricing-divider ">
                    <h3 class="text-light">Super Saver</h3>
                    <h4 class="my-0 display-2 text-light font-weight-normal mb-3"><span class="h3">$</span> 140 <span class="h5">/3 yr</span></h4>
                    <svg class='pricing-divider-img' enable-background='new 0 0 300 100' height='100px' id='Layer_1' preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width='300px' x='0px' xml:space='preserve' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
                    <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
        c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z' fill='#FFFFFF' opacity='0.6'></path>
                    <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
        c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z' fill='#FFFFFF' opacity='0.6'></path>
                    <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
        H42.401L43.415,98.342z' fill='#FFFFFF' opacity='0.7'></path>
                    <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
        c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z' fill='#FFFFFF'></path>
            </svg>
                </div>
                <div class="card-body bg-white mt-0 shadow">
                    <ul class="list-unstyled mb-5 position-relative">
                        <li><b>1</b> Account</li>
                        <li><b>Unlimited </b> Flights</li>
                        <li><b>Unlimited </b>Bookings</li>
                        <li><b>Free Analytics</b></li>
                        <li><b>Help center access</b></li>
                    </ul>
                    <a href=" @Url.Action("Create","Users")" type="button" style="background:#1AA85C" class="btn btn-lg btn-block greencc ">Sign up</a>
                </div>
            </div>*@






    </div>
</div>

