
@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding-left:100px; padding-right:100px">
    <h1 style="padding-top:50px">Privacy Policy</h1>
    <h3 style="padding-top:50px">Introduction</h3>

    <p>We are a social network and online platform for Pilots. People use our Services to find and be found for flight opportunities, to connect with others and post their flights. Our Privacy Policy applies to any Member or Visitor to our Services Our registered users (&ldquo;Members&rdquo;) share their professional identities, engage with their network, post flights and book flights. Content and data on some of our Services is viewable to non-members (&ldquo;Visitors&rdquo;).</p>

    <p></p>

    <h3>Services</h3>

    <p>This Privacy Policy applies to pilotconnects.com and Pilot Connects-branded apps.</p>

    <h3>Data Controllers and Contracting Parties</h3>

    <p>As a Visitor or Member of our Services, the collection, use and sharing of your personal data is subject to this Privacy Policy and other documents referenced in this Privacy Policy, as well as updates.</p>

    <h3>Change</h3>

    <p>Changes to the Privacy Policy apply to your use of our Services after the &ldquo;effective date.&rdquo;</p>

    <p>Pilot Connects (&ldquo;we&rdquo; or &ldquo;us&rdquo;) can modify this Privacy Policy, and if we make material changes to it, we will provide notice through our Services, or by other means, to provide you the opportunity to review the changes before they become effective. If you object to any changes, you may close your account. You acknowledge that your continued use of our Services after we publish or send a notice about our changes to this Privacy Policy means that the collection, use and sharing of your personal data is subject to the updated Privacy Policy, as of its effective date.</p>

    <h3>1. Data We Collect</h3>

    <h3>1.1 Data You Provide To Us</h3>

    <p>You provide data to create an account with us.</p>

    <p></p>

    <h3>Registration</h3>

    <p>To create an account, you need to provide data including your name, email address, phone number, physical address, pilots license number, home base airport, and a password. If you register for a startup account you will need to provide payment (e.g., credit card) and billing information via PayPal.</p>

    <p>You create your Pilot Connects profile (a complete profile helps you get the most from our Services).</p>

    <h3>Profile</h3>

    <p>You have choices about the information on your profile, such as your home base airport, pilot license number, certificate type, photo, ratings, and an about me and career goals excerpt . You don&rsquo;t have to provide additional information on your profile; however, profile information helps you to get more from our Services, including helping pilot connects and other members find time building opportunities for you. It&rsquo;s your choice whether to include sensitive information on your profile and to make that sensitive information public. Please do not post or add personal data to your profile that you would not want to be publicly available. You provide other data by posting and booking flights on your account which allows us to create high flying surge areas and alert other pilots.</p>

    <p></p>

    <h3>Posting and Uploading</h3>

    <p>We collect personal data from you when you provide, post or upload it to our Services, such as when you fill out a form, (posting a flight, booking a flight), or respond to a survey.</p>

    <p>You don&rsquo;t have to post or upload personal data; though if you don&rsquo;t, it may limit your ability to grow and engage with your network over our Services.</p>

    <h3>1.2 Data From Others</h3>

    <p>Others may post or write about you once we upload the rating feature in later modifications.</p>

    <h3>Content and News</h3>

    <p>We also may collect public information about you, such as professional-related news and accomplishments, and make it available as part of our Services, including, as permitted by your settings, in notifications to others of mentions in the news.</p>

    <h3>Partners</h3>

    <p>We receive personal data (e.g., certificate type, career goals, and current hours) about you when you use the services. This will eventually be made available to potential employers looking for qualified pilots.</p>

    <h3>Related Companies and Other Services</h3>

    <p></p>

    <p></p>

    <h3>1.3 Service Use</h3>

    <p>We log your visits and use of our Services, including website platform and future mobile apps. We log usage data when you visit or otherwise use our Services, including our sites, app and platform technology, such as when you view or click on content.</p>

    <h3>1.4 Your Device and Location</h3>

    <p>We don&rsquo;t keep the location of your physical device we only provide your home base location if you choose to provide that information.</p>

    <h3>1.5 Messages</h3>

    <p>If you communicate through our Services, we learn about that.</p>

    <p>We collect information about you when you send, receive, or engage with messages in connection with our Services. For example, if you get a Pilot Connects connection request, we track whether you have acted on it.</p>

    <p></p>

    <h3>1.6 Other</h3>

    <p>We are improving our Services, which means we get new data and create new ways to use data. Our Services are dynamic, and we often introduce new features, which may require the collection of new information. If we collect materially different personal data or materially change how we collect, use or share your data, we will notify you and may also modify this Privacy Policy.</p>

    <h3>2. How We Use Your Data</h3>

    <p>We use your data to provide, support, personalize and develop our Services. We use your data to alert other members about potential users at their home base, nearby, or area of interest flying. We also use your information to inform other users so that they can find the pilot of their required qualifications to time build with.</p>

    <p></p>

    <h3>2.1 Services</h3>

    <p>Our Services help you connect with others, find and be found for time building and Work opportunities, stay informed, get training and be more productive in your flying careers.</p>

    <p>We use your data to authorize access to our Services and honor your settings.</p>

    <p></p>

    <p></p>

    <p></p>

    <p></p>

    <h3>Productivity</h3>

    <p>Our Services allow you to communicate with other Members and schedule flights with them.</p>

    <h3>2.2 Start up Package</h3>

    <p>Our start up package allows the user to communicate with other users, book flights, and post flights on our site. We aim to create a network of driven individuals who are currently seeking flight time or wanting to be a mentor to those on the site.</p>

    <h3>2.3 Communications</h3>

    <p>We contact you and enable communications between Members. We offer settings to control what messages you receive and how often you receive some types of messages.</p>

    <p>We will contact you through email, mobile phone, notices posted on our websites or apps, messages to your Pilot Connects inbox, and other ways through our Services, including text messages and push notifications. We will send you messages about the availability of our Services, security, or other service-related issues. We also send messages about how to use our Services, network updates, reminders, flight opportunities and promotional messages from us and our partners. We also enable communications between you and others through our Services, including for example Messaging between connections.</p>

    <h3>2.4 Advertising</h3>

    <p>We currently do not have advertising on our site, but we will update this section once we do begin to get advertisements.</p>

    <h3>2.5 Marketing</h3>

    <p>We promote our Services to you and others. In addition to advertising our Services, we use Members&rsquo; data and content for invitations and communications promoting membership and network growth, engagement and our Services, such as by showing your connections that you have used a feature on our Services. We will have promotions available and those cannot go into affect before or after they expire (if you join before a promotion takes affect you won&rsquo;t be able to request to get the promotional rate on your membership).</p>

    <h3>2.6 Developing Services and Research</h3>

    <h3>We develop our Services and conduct research.</h3>

    <h3>Service Development</h3>

    <p>We use data, including public feedback, to conduct research and development for our Services in order to provide you and others with a better, more intuitive and personalized experience, drive membership growth and engagement on our Services, and help connect professionals to each other and to economic opportunity.</p>

    <h3>Other Research</h3>

    <p>We seek to create economic opportunity for the aviation community to seek talent and for those trying to work up to the minimums for future employment. We use personal data to alert other members on where they have the highest chance to finding a flying partner.</p>

    <h3>Surveys</h3>

    <p>Polls and surveys are conducted by us and others through our Services. You are not obligated to respond to polls or surveys, and you have choices about the information you provide. You may opt-out of survey invitations.</p>

    <h3>2.7 Customer Support</h3>

    <p>We use data to help you and fix problems.</p>

    <p>We use data (which can include your communications) to investigate, respond to and resolve complaints and for Service issues (e.g., bugs).</p>

    <h3>2.8 Insights That Do Not Identify You</h3>

    <p>We use data to generate insights that do not identify you.</p>

    <p>We use your data to produce and share insights that do not identify you. For example, we may use your data to generate statistics about our members, their profession or industry, to calculate ad impressions served or clicked on, or to publish visitor demographics for a Service or create demographic workforce insights.</p>

    <h3>2.9 Security and Investigations</h3>

    <p>We use data for security, fraud prevention and investigations.</p>

    <p>We use your data (including your communications) for security purposes or to prevent or investigate possible fraud or other violations of our User Agreement and/or attempts to harm our Members, Visitors or others.</p>

    <h3>3. How We Share Information</h3>

    <h3>3.1 Our Services</h3>

    <p>Any data that you include on your profile and any content you post or social action (e.g., posting flights, booking flights, about me, certifications, etc.) you take on our Services will be seen by others, consistent with your settings.</p>

    <h3>Profile</h3>

    <p>Your profile is fully visible to all Members of the site. Visitors may see your name and home base but will not be able to see your profile information.</p>

    <p></p>

    <h3>3.2 Service Providers</h3>

    <p>We may use others to help us with our Services.</p>

    <p>We use others to help us provide our Services (e.g., maintenance, analysis, audit, payments, fraud detection, marketing and development). They will have access to your information as reasonably necessary to perform these tasks on our behalf and are obligated not to disclose or use it for other purposes.</p>

    <h3>3.3 Legal Disclosures</h3>

    <p>We may need to share your data when we believe it&rsquo;s required by law or to help protect the rights and safety of you, us or others. It is possible that we will need to disclose information about you when required by law, subpoena, or other legal process or if we have a good faith belief that disclosure is reasonably necessary to (1) investigate, prevent or take action regarding suspected or actual illegal activities or to assist government enforcement agencies; (2) enforce our agreements with you; (3) investigate and defend ourselves against any third-party claims or allegations; (4) protect the security or integrity of our Services (such as by sharing with companies facing similar threats); or (5) exercise or protect the rights and safety of Pilot Connects, our Members, personnel or others. (6) If requested by the FAA. We attempt to notify Members about legal demands for their personal data when appropriate in our judgment, unless prohibited by law or court order or when the request is an emergency. We may dispute such demands when we believe, in our discretion, that the requests are overbroad, vague or lack proper authority, but we do not promise to challenge every demand.</p>

    <h3>3.4 Change in Control or Sale</h3>

    <p>We may share your data when our business is sold to others, but it must continue to be used in accordance with this Privacy Policy.</p>

    <p>We can also share your personal data as part of a sale, merger or change in control, or in preparation for any of these events. Any other entity which buys us, or part of our business will have the right to continue to use your data, but only in the manner set out in this Privacy Policy unless you agree otherwise.</p>

    <h3>4. Your Choices &amp; Obligations</h3>

    <h3>4.1 Data Retention</h3>

    <p>We keep most of your personal data for as long as your account is open.</p>

    <p>We generally retain your personal data as long as you keep your account open or as needed to provide you Services. This includes data you or others provided to us and data generated or inferred from your use of our Services. Even if you only use our Services when looking for a new job every few years, we will retain your information and keep your profile open, unless you close your account. In some cases, we choose to retain certain information (e.g., insights about Services use) in a depersonalized or aggregated form.</p>

    <h3>4.2 Rights to Access and Control Your Personal Data</h3>

    <p>You can access or delete your personal data. You have many choices about how your data is collected, used and shared. We provide many choices about the collection, use and sharing of your data, from deleting or correcting data you include in your profile and controlling the visibility of your posts to advertising opt-outs and communication controls. We offer you settings to control and manage the personal data we have about you.</p>

    <p>For personal data that we have about you, you can:</p>

    <p><b>Delete Data:</b> You can ask us to erase or delete all or some of your personal data (e.g., if it is no longer necessary to provide Services to you).</p>

    <p> <b>Change or Correct Data:</b> You can edit some of your personal data through your account. You can also ask us to change, update or fix your data in certain cases, particularly if it&rsquo;s inaccurate.</p>

    <p> <b>Object to, or Limit or Restrict, Use of Data:</b> You can ask us to stop using all or some of your personal data (e.g., if we have no legal right to keep using it) or to limit our use of it (e.g., if your personal data is inaccurate or unlawfully held).</p>

    <p> <b>Right to Access and/or Take Your Data:</b> You can ask us for a copy of your personal data and can ask for a copy of personal data you provided in machine readable form.</p>

    <h3>4.3 Account Closure</h3>

    <p>We keep some of your data even after you close your account.</p>

    <p>If you choose to close your Pilot Connects account, your personal data will generally stop being visible to others on our Services within 24 hours. We generally delete closed account information within 30 days of account closure, except as noted below.</p>

    <p>We retain your personal data even after you have closed your account if reasonably necessary to comply with our legal obligations (including law enforcement requests), meet regulatory requirements, resolve disputes, maintain security, prevent fraud and abuse (e.g., if we have restricted your account for breach of our Professional Community Policies), enforce our User Agreement, or fulfill your request to &quot;unsubscribe&quot; from further messages from us. We will retain de-personalized information after your account has been closed.</p>

    <p>Information you have shared with others (e.g., through InMail, updates or group posts) will remain visible after you close your account or delete the information from your own profile or mailbox, and we do not control data that other Members have copied out of our Services. Groups content and ratings or review content associated with closed accounts will show an unknown user as the source. Your profile may continue to be displayed in the services of others (e.g., search engine results) until they refresh their cache.</p>

    <h3>5. Other Important Information</h3>

    <h3>5.1. Security</h3>

    <p>We monitor for and try to prevent security breaches. Please use the security features available through our Services. We implement security safeguards designed to protect your data, such as HTTPS. We regularly monitor our systems for possible vulnerabilities and attacks. However, we cannot warrant the security of any information that you send us. There is no guarantee that data may not be accessed, disclosed, altered, or destroyed by breach of any of our physical, technical, or managerial safeguards.</p>

    <h3>5.2 Lawful Bases for Processing</h3>

    <p>We have lawful bases to collect, use and share data about you. You have choices about our use of your data.</p>

    <p>At any time, you can withdraw consent you have provided by going to settings.</p>

    <p>We will only collect and process personal data about you where we have lawful bases. Lawful bases include consent (where you have given consent), contract (where processing is necessary for the performance of a contract with you (e.g., to deliver the Pilot Connects Services you have requested) and &ldquo;legitimate interests.&rdquo; Where we rely on your consent to process personal data, you have the right to withdraw or decline your consent at any time and where we rely on legitimate interests, you have the right to object. If you have any questions about the lawful bases upon which we collect and use your personal data, please contact us at pilotconnects@gmail.com</p>

    <p></p>

    <h3>5.3 Contact Information</h3>

    <p>You can contact us or use other options to resolve any complaints.</p>

    <p>If you have questions or complaints regarding this Policy, please first contact Pilot Connects Via pilotconnects@gmail.com. You can also reach us by phone (941-281-5941) which is listed on our website.</p>
</div>

